
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-VariableFont_wght.ttf");
 }
    
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@media (min-width: 960px) {

    html {
        min-height: 760px;
    }

    .layout-content {
        width: 470px;
    }

    .shadow-box__footer {
        flex-direction: row;
        column-gap: 40px;
    }
}

@media (max-width: 960px) and (min-width: 720px) {
    
    html {
        min-height: 760px;
    }
    
    .layout-content {
        width: 470px;
    }

    .shadow-box__footer {
        flex-direction: row;
        column-gap: 40px;
    }
}

@media (max-width: 720px) {

    html {
        min-height: 800px;
    }

    .layout-content {
        width: 85%;
    }

    .shadow-box__footer {
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }
}

html {
    height: 100%;
    background-color: #F8F8F8;
}

html * {
    font-family: 'Nunito',sans-serif;
    color: #333333;
}

body {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.layout-content {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.layout-content .shape{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
}

#shape_1 {
    background: linear-gradient(
        30deg,
        #99FF00,
        #11BB00
    );
    left: -100px;
    top: -40px; 
}

#shape_2 {
    background: linear-gradient(
        60deg,
        #99FF00,
        #11BB00
    );
    right: -300px;
    top: -40px;
}

#shape_3 {
    background: linear-gradient(
        90deg,
        #99FF00,
        #11BB00
    );
    left: -300px;
    bottom: 40px;
}

#shape_4 {
    background: linear-gradient(
        120deg,
        #99FF00,
        #11BB00
    );
    right: -100px;
    top: 460px;
}

#shape_5 {
    background: linear-gradient(
        150deg,
        #99FF00,
        #11BB00
    );
    left: -550px;
    bottom: 350px;
}


#shape_6 {
    background: linear-gradient(
        180deg,
        #99FF00,
        #11BB00
    );
    right: -450px;
    bottom: 220px;
}

.shadow-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: sticky;
    border-radius: 20px;
    background: #FFFFFF99;
    box-shadow: 0 0 5px #555555;
    padding: 35px;
    z-index: 2;
}

.shadow-box form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.shadow-box__title {
    font-weight: bold;
    text-align: center;
}

.shadow-box__title h3 {
    font-size: 25px;
    line-height: 42px;
}

.shadow-box__title h4 {
    font-size: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin: 0 auto;
    width: 100px; 
}

.logo .sign {
    position: relative;
    width: 40px;
    height: 40px;
}

.logo .name {
    color: #009900;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}

.logo .square {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #99FF00;
    box-shadow: -2px -2px #77EE00, inset -2px -2px #77EE00, -4px -4px #55DD00, inset -4px -4px #55DD00, -6px -6px #33CC00, inset -6px -6px #33CC00, -8px -8px #11BB00, inset -8px -8px #11BB00;
}

.form__field {
    display: block;
    font-size: 16px;
    justify-content: space-between;
}

.form__field-label {
    display: block;
    font-weight: bold;
}

.form__field-input {
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 20px;
    border: 1px solid #333333;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 300;
}

.form__field-link {
    display: flex;
    font-size: 15px;
    text-decoration: none;
}

.shadow-box_additionals {
    padding: 20px 0;
}

.shadow-box__footer {
    display: flex;
    position: sticky;
    z-index: 2;
}

.footer-link {
    text-decoration: none;
}

.form-additional-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.form-additional-message_link {
    margin-left: 7px;
    text-decoration: none;
    color: #11BB00;
}

.primary-button {
    width: 100%;
    border-radius: 20px;
    border: 0;
    color: #333333;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(#99FF00,#11BB00);
    transition: 300ms linear;
}

.primary-button:hover {
    background: linear-gradient(#72bd02,#0c8901);;
}

.form__field-social-label {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.social-buttons {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.social-buttons__button {
    display: flex;
    border:0;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgba(255,255,255,0);
    justify-content:center;
}

.social-buttons__button:hover .icon {
    color: #11BB00;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    column-gap: 10px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.icon {
    display: block;
    line-height: 0;
    font-size: 23px;
}