@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

@media (min-width: 960px) {
    .layout-content-narrow {
        width: 470px;
    }

    .layout-content-wide {
        width: 770px;
    }

    .form-group {
        flex-direction: row;
        justify-content: space-between;
    }

    .shadow-box-right {
        display: flex;
    }

    #shadow-box__footer {
        flex-direction: row;
        column-gap: 40px;
    }
}

@media (max-width: 960px) and (min-width: 720px) {
    .layout-content-narrow {
        width: 470px;
    }

    .layout-content-wide {
        width: 700px;
    }

    .form-group {
        flex-direction: row;
        justify-content: space-between;
    }

    .shadow-box-right {
        display: flex;
    }

    #shadow-box__footer {
        flex-direction: row;
        column-gap: 40px;
    }
}

@media (max-width: 720px) {
    .layout-content-narrow {
        max-width: 470px;
        width: 95%;
    }

    .layout-content-wide {
        max-width: 700px;
        width: 95%;
    }

    .form-group {
        flex-direction: column;
        row-gap: 15px;
    }

    .shadow-box-right {
        display: none;
    }

    #shadow-box__footer {
        flex-direction: column;
        row-gap: 10px;
    }
}

html {
    height: 100%;
    background-color: #F8F8F8;
}

html * {
    font-family: 'Nunito', sans-serif;
    color: #333333;
}

body {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.layout-content {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.shadow-box {
    display: flex;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    background: #FFFFFFCC;
    box-shadow: 0 0 5px #555555;
    padding: 30px 40px;
    box-sizing: border-box;
}

.shadow-box-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.shadow-box h3 {
    text-align: center;
}

.shadow-box h4 {
    text-align: center;
}

.shadow-box-wide {
    flex-direction: row;
    column-gap: 25px;
}

.shadow-box-narrow {
    flex-direction: column;
}

.shadow-box-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 700%;
}

.shadow-box-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300%;
}

.shadow-box-right img {
    width: 90%;
}

.shadow-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.shadow-box-title {
    font-weight: bold;
}

.shadow-box-title h3 {
    font-size: 25px;
}

.shadow-box-title h4 {
    font-size: 15px;
}

.shadow-box form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin: 0 auto;
    width: 100px;
}

.logo .sign {
    position: relative;
    width: 40px;
    height: 40px;
}

.logo .name {
    color: #009900;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
}

.logo .square {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid #99FF00;
    box-shadow: -2px -2px #77EE00, inset -2px -2px #77EE00, -4px -4px #55DD00, inset -4px -4px #55DD00, -6px -6px #33CC00, inset -6px -6px #33CC00, -8px -8px #11BB00, inset -8px -8px #11BB00;
}

.form-group {
    display: flex;
    column-gap: 15px;
}

.form-field {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-between;
    width: 100%;
}

.form-field-label {
    display: block;
    font-weight: bold;
}

.form-field-input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #555555;
    border-radius: 20px;
    padding: 11px 20px;
    line-height: 20px;
    font-size: 14px;
}

.form-fields-validation-errors,
.form-field-input-validation-errors {
    display: none;
    color: #FF3300;
    font-weight: bold;
    text-align: center;
}

.form-field-link {
    display: flex;
    font-size: 15px;
    text-decoration: none;
}

.form-field-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-field-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form-field-checkbox input:not(:checked)+label:hover::before {
    border: 1px solid #333333;
    background-color: #DDDDDD;
}

.form-field-checkbox input:not(:checked)+label:active::before {
    border: 1px solid #111111;
    background-color: #BBBBBB;
}

.form-field-checkbox input:checked+label::before {
    content: "✔";
    background-color: #55DD00;
    color: #333333;
    border: 1px solid transparent;
}

.form-field-checkbox input:checked+label:hover::before {
    box-shadow: 0px 0px 10px #77EE00;
    background-color: #77EE00;
}

.form-field-checkbox input:checked+label:active::before {
    box-shadow: inset 0px 0px 10px #009900;
    background-color: #33CC00;
}

.form-field-checkbox label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.form-field-checkbox label::before {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    content: "";
    margin-right: 5px;
    width: 1em;
    height: 1em;
    border-radius: 5px;
    border: 1px solid #555555;
    transition: 300ms;
}

#shadow-box_additionals {
    padding: 20px 0;
}

#shadow-box__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.footer-link {
    text-decoration: none;
}

.form-additional-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.form-additional-message_link {
    margin-left: 7px;
    text-decoration: none;
    color: #11BB00;
}

.primary-button {
    width: 100%;
    border-radius: 20px;
    border: 0;
    color: #333333;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: #55DD00;
    transition: 300ms;
}

.primary-button:hover {
    background: #77EE00;
    box-shadow: 0 0 20px #77EE00;
}

.primary-button:active {
    background: #33CC00;
    box-shadow: inset 0 0 20px #009900;
}

.primary-button-link {
    text-align: center;
    text-decoration: none;

}

.form-field-social-label {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.social-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.social-buttons-button {
    display: flex;
    border: 0;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
}

.social-buttons-button:hover .icon {
    color: #77EE00;
    text-shadow: 0 0 20px #77EE00;
}

.social-buttons-button:active .icon{
    color: #33CC00;
    text-shadow: inset 0 0 20px #009900;
}

.social-buttons-button .icon {
    transition: 300ms;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    column-gap: 10px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.icon {
    display: block;
    line-height: 0;
    font-size: 23px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;  
    background: linear-gradient(120deg,
    #99FF00,
    #11BB00);
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-100vh) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

#layout-content-container, #layout-content-container-additionals, #layout-content-container-footer {
    width: 100%;
    position: relative;
}